---
import Layout from "../layouts/Layout.astro";
import { Button } from "../../@/components/ui/button";
import { Warehouse } from "lucide-react";
---

<Layout title="Welcome to Werehaus">
	<div
		class="min-h-screen flex flex-col items-center justify-center bg-gray-100 dark:bg-gray-900"
	>
		<div id="welcome" class="text-center">
			<h1 class="text-4xl font-bold mb-2">Welcome</h1>
			<Button id="getStartedBtn" size="lg">Get Started</Button>
		</div>
	</div>
</Layout>

<script>
	const getStartedBtn = document.getElementById("getStartedBtn");

	getStartedBtn.addEventListener("click", () => {
		window.location.href = "/login";
	});
</script>
