---
import Layout from "../layouts/Layout.astro";
import IssueForm from "../../@/components/ui/IssueForm";
---

<Layout title="Issue Items">
	<div class="container mx-auto py-10">
		<h1 class="text-3xl font-bold mb-6">Issue Items</h1>
		<IssueForm client:only="react" />
	</div>
</Layout>
