---
import Layout from "../layouts/Layout.astro";
import IssueForm from "../../@/components/ui/IssueForm.jsx";
---

<Layout>
	<h1 class="text-3xl font-bold mb-6">Issue Items</h1>
	<IssueForm client:only="react" />
</Layout>
