---
import Layout from "../layouts/Layout.astro";
import Reports from "../../@/components/ui/Reports";
---

<Layout>
	<h1 class="text-3xl font-bold mb-4">Reports</h1>
	<Reports client:load />
</Layout>
